<div class="card mt-5">
    <div class="card-header">
        Agregar Cliente
    </div>
    <div class="card-body">

        <form ngNativeValidate [formGroup]="formDeClientes" (ngSubmit)="enviarDatos()">
            <div class="mb-3">
                <label for="" class="form-label">Nombre</label>
                <input required type="text" class="form-control" name="" formControlName="nombre" id="nombreInput" aria-describedby="helpId"
                    placeholder="Nombre Completo">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Direccion</label>
                <input required type="text" class="form-control" name="" formControlName="direccion" id="direccionInput" aria-describedby="helpId"
                    placeholder="Ej. Mexico, CDMX, Fray Servantes Calle #13">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Telefono</label>
                <input required type="tel" class="form-control" name="" formControlName="telefono" id="telefonoInput" aria-describedby="helpId"
                    placeholder="Ej. 5530302020">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Fecha de Nacimiento</label>
                <input required type="date" class="form-control" name="" formControlName="fecha_nacimiento" id="fechaInput" aria-describedby="helpId"
                    placeholder="Ej. 5530302020">
            </div>
           <div class="btn-group" role="group" aria-label="">
               <button type="submit" class="btn btn-success me-3">Aceptar</button>
               <button type="button" class="btn btn-primary">Cancelar</button>

           </div>
        </form>


    </div>
</div>