<app-crud></app-crud>
<div class="card">
    <div class="card-header">
        Clientes
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>cliente</th>
                    <th>direccion</th>
                    <th>telefono</th>
                    <th>Cumpleaños</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of Clientes, let iControl=index">
                    <td>{{cliente.id}}</td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.direccion}}</td>
                    <td>{{cliente.telefono}}</td>    
                    <td>{{cliente.fecha_nacimiento}}</td>
                    <td>
                        <a class="btn btn-info me-1" routerLink="/editar-cliente/{{cliente.id}}">Editar</a>
                        |
                        <a class="btn btn-danger ms-1" role="button" (click)="borrarRegistro(cliente.id,iControl)">Borrar</a>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
    <div class="card-footer text-muted">
        Footer
    </div>
</div>
