<section class="sect">
<div class="agradecimiento">
    <h1 class="title atitle">Gracias por unirte al sorteo!</h1>
    <p class="text atext">Esperemos que seas uno de los participantes ganadores.
        Nos pondremos en contacto una vez realizado el sorteo ganador.</p>
    <a class="btn facebook" href="https://www.facebook.com/elchedelbarrio/">Visitar Facebook</a>
</div>

<img class="personaje1" srcset="assets/img/personajes-11.png">

<img class="personaje2" srcset="assets/img/personajes-12.png">

</section>